name: Unittests
on:
  push:
jobs:
  ubuntu-Unittest:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@main

      - name: Install Packages
        run: |
          sudo apt-get install -y zsh
          cargo install sd
          sudo ln -s /home/runner/.cargo/bin/sd /usr/bin/sd

      - name: Run script without sudo
        run: |
          if [ $(whoami) != 'root' ]; then
            cd bash
            zsh flatpatch || true
          fi

      - name: Run script with sudo
        run: |
          cd bash
          sudo sd stable development flatpatch
          sudo zsh flatpatch


  debian-Unittest:
    runs-on: ubuntu-latest
    container: debian:latest
    steps:
      - run: apt-get update && apt-get install -y sudo

      - uses: actions/checkout@main

      - name: Install Packages
        run: |
          sudo apt-get install -y zsh curl build-essential
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          . "$HOME/.cargo/env"
          cargo install sd
          sudo ln -s /github/home/.cargo/bin/sd /usr/bin/sd
      - name: Run script without sudo
        run: |
          if [ $(whoami) != 'root' ]; then
            cd bash
            zsh flatpatch || true
          fi

      - name: Run script with sudo
        run: |
          cd bash
          sudo sd stable development flatpatch
          zsh flatpatch || true
